body {
    background-color: rgb(0, 0, 0);
}

h1{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    font-family: fantasy;
    color: cornsilk;
}

#name { 
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: red;
}
#surname{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: red;
}
#personal_code{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: red;
    
}


#useless_spam{
    position: absolute;
    top: 70%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#useful_spam{
    position: absolute;
    top: 75%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#check_text{
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#title_name{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    position: absolute;
    top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#title_surname {
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    position: absolute;
    top: 32%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#title_personal_code{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
#title_useful_spam{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    position: absolute;
    top: 73%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#title_useless_spam{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    position: absolute;
    top: 68%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}